# Project files
.idea
node_modules
package-lock.json

# Server files
server/node_modules
server/.env
server/dist
server/package-lock.json

# Client files
client/node_modules
client/.env
client/package-lock.json